nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;
  width: 100%;

  padding: 20px;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}

/*  - List */
ul {
  display: flex;
  width: max-content;
}

li {
  width: max-content;
  margin: 20px;
  list-style: none;
}

li a {
  display: flex;
  width: 100px;
  font-weight: bold;
}
